@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div class="top">
    <div>
        <div>
            <h4>Where to find us ?</h4>
            <a href="https://goo.gl/maps/VS9GUCKmGpcZciaP8">
                1bis Rue Dr Bally, 38000 Grenoble
            </a>
            <p><span>&#9742;</span> <a href="tel:000000000">04 68 85 9 85</a></p>
        </div>
    </div>
    </div>
    <div class="bottom">
        <div class="bar">
            <h4>Schedule :</h4>
            <p>Open Monday to Sunday</p>
            <p>of 8h45 to 19h00</p>
        </div>
        
    </div>

    <address>
        <strong>Website :</strong>   <a href="https://pokawa.com/">pokawa.com</a><br />
    </address>
