@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Verrouillé";
}

<hgroup>
    <h1 class="text-danger">Verrouillé.</h1>
    <h2 class="text-danger">This account has been locked; Please retry later.</h2>
</hgroup>
